body{
    background-color: whitesmoke;
}

/* HEADER (ENCABEZADO) */

.titulo{
    background-image: linear-gradient(rgb(177, 6, 6), rgba(177, 6, 6, 0.623) );
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header nav{
    background-image: linear-gradient(rgba(177, 6, 6, 0.623), rgb(177, 6, 6) );
}


header nav a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem ;
}


/* PIE DE PAGINA */

.piePagina{
    background-image: url(./imagenes/piepagina.jpg);
}

.lineaBordo{
    background-color:rgb(177, 6, 6) ;
    height: 1vh;
} 

.email, .horarios, .direccion, .atencion {
    background-color: rgba(197, 195, 195, 0.925); 
    height: min-content;
    width: fit-content;
} 

.iframe{
    display: none;
}

footer{
    background-color: rgb(92, 91, 91);
    height: auto;
}

.iconoWp{
    color:#25d366 ; 
}

.iconoWp:hover{
    color: rgb(61, 60, 60)
}


/* MAIN DEL INDEX */
 
.fabrica, .distribuidora{
    background-color: rgb(92, 91, 91); 
}

.fabrica{
    margin-right: 0.3%;
}

.fabrica h2, .distribuidora h2{
    background-color: rgba(245, 245, 245, 0.884); 
    border: 0.3rem solid red;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.fabricaLista li a, .distribuidoraLista li a{
    color: white;
}
.fabricaLista li a:hover  , .distribuidora li a:hover{
    font-size: 95%;
    color: black;
    font-weight: 500;
} 


/* PARTICULARIDADES POR IGUAL PARA TODOS LOS DEMAS HTML */

.titulos{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.mainTodos{
    background-color: rgb(214, 211, 211);
}

/* LISTA DE PRECIOS */

.textoLista{
    background-color: rgb(92, 91, 91);
    font-family:sans-serif;
    font-size: 120%;
}

embed{
    border: 3px solid rgb(177, 6, 6);
    width: 90%;
    height: 45vh;
}


/* PREGUNTAS FRECUENTES */

.lineaGris{
    background-color: rgb(92, 91, 91);
    height: 4px;
}

.preguntas{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:bold;
    padding: 0 30px 10px 0;
}

.respuestas{
    text-align: center;
    font-family: sans-serif;
    padding: 10px 60px 30px 10px;
}

.ayudaPreguntas {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}

.contactoPreguntas{
    text-align: center;
    font-family: sans-serif;
    padding: 8px;
    margin-bottom: 15px ;
}

.contactoClick{
    font-weight: bold;
}


/* CONSTANCIA DE INSCRIPCION */

.tituloFabrica, .tituloDistrib{
    color: blue;
    background-color: whitesmoke;
    border: 2px solid red;
    margin: 0 20%;
}

.pFabrica, .pDistrib{
    font-family: sans-serif;
}

.imgFabrica img, .imgDistrib img{
    width: 95%;
    height: auto;
}

.imgFabrica:hover{
    transform: scale(2.8, 2.1);
    margin-left: 50%; 
    margin-top: 30%;
}

.imgDistrib:hover{
    transform: scale(2.8, 2.1);
    margin-right: 50%;
    margin-top: 30%;
}

/* CONTACTO */

.pContacto{
    font-size: 20px;
    font-family: sans-serif;
}

label{
    font-family: sans-serif;
}

input{
    width: auto;
    height: 1.6rem;
}

textarea{
    width: auto;
    font-family: sans-serif;
}

.inputSubmit, .inputBorrar{
    width: auto;
    height: 2rem;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}    

/* MEDIA QUERIES*/

@media only screen and (min-width: 768px){

    /*PIE DE PAGINA*/

    .iframe{
        display: flex;
        justify-content: center;   
    }

    /* MAIN LISTA PRECIOS*/
    embed{
        height: 120vh;
    }

    /* MAIN CONTACTO */

    form div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }   
}

@media only screen and (min-width:892px){
    
    /* PIE DE PAGINA */
    .piePagina{
        display: grid;   
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .emailHorario { grid-area: 1 / 1 / 2 / 3; }
    .atencionDireccion { grid-area: 2 / 1 / 3 / 3; }
    .iframe { 
        display: flex;
        grid-area: 1 / 3 / 3 / 4; 
    }
   
}



/* A PARTIR DE ACA COMIENZAN LOS HTML QUE NO PERTENECEN AL NAV - (aun no estan completos)*/

/* ---- NUESTRA MARCA ---- */

.hTresJugo{
    color: blue;
    text-align: center;
    border: 3px solid red;
    border-radius: 200%;
    height: 2rem;
    width: 23%;
    padding: 20px 0px 5px 0px;
    margin-left: 38%;
    margin-bottom: 3rem;
}

.hTresAmargo{
    color: blue;
    text-align: center;
    border: 3px solid red;
    border-radius: 200%;
    height: 2rem;
    width: 15%;
    padding: 20px 0px 5px 0px;
    margin-left: 43%;
    margin-bottom: 3rem;
}

.hTresAgua{
    color: blue;
    text-align: center;
    border: 3px solid red;
    border-radius: 200%;
    height: 2rem;
    width: 10%;
    padding: 20px 0px 5px 0px;
    margin-left: 45%;
    margin-bottom: 3rem;
} 