
.pContacto{
    font-size: 20px;
    font-family: sans-serif;
}

form div{
    @extend %flexRow;

    label{
        font-family: sans-serif;
    }
    
    input{
        width: auto;
        height: 1.6rem;
    }

    textarea{
        width: auto;
        font-family: sans-serif;
    }
}    

.inputSubmit, .inputBorrar{
    width: auto;
    height: 2rem;
}

@include mediaQuery{
    form div{
        @include flexbox (row, center, wrap)
    }   
}