.pContacto{
    font-size: 20px;
    font-family: sans-serif;
}

form{
    width: 500px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.801);
    margin-bottom: 4%;
    border-radius: 2em;
    padding-top: 2%;

    div{
        @extend %flexRow;

        label{
            font-family: sans-serif;
            color: white;
            padding-right: 20px;
        }
        
        textarea{
            font-family: sans-serif;
        }

        input{
            width: 50%;
            height: 1.6rem;
        }
    }

    .botonesFormulario{
        input{
            font-weight: 500;
            background-color: rgb(182, 177, 169);
            width: auto;
            height: 2rem;
            border-radius: 2em;

            &:hover{
                background-image: map-get($colores, colorTitulos);
            }
        }
    }
}    

@include mediaQuery{
    form div{
        @include flexbox (row, center, wrap)
    }   
}

@media only screen and (max-width: 535px){
    form{
        width: 90%;
        margin-bottom: 10%;
    }
}
    