.textoLista{
    background-color: map-get($colores, colorSecundario);
    font-family:sans-serif;
    font-size: 120%;
}

embed{
    border: 3px solid map-get($colores, colorPrincipal);
    width: 90%;
    height: 45vh;
}

@media only screen and (min-width: 768px){

    embed{
        height: 120vh;
    }
}