.preguntas{
    padding-top: 10px;
    padding-right: 60px;
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight:bold;
        padding: 0.5%;
        margin-bottom: 7%;
        background-color: rgba(189, 116, 116, 0.788);
        border-radius: 2em;
    }
}
.respuestas{
    text-align: center;
    font-family: sans-serif;
    padding: 10px 60px 30px 10px;
    font-size: 18px;
}

.ayudaPreguntas {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}

.contactoPreguntas{
    text-align: center;
    font-family: sans-serif;
    padding: 8px;
    margin-bottom: 15px ;

    .contactoClick{
        font-weight: bold;
    }
}