body{
    background-color: map-get($colores, colorFondo);

    .mainTodos{
        background-color: map-get($colores, colorFondosMain);
    
        .titulos{
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        .lineaGris{
            background-color: map-get($colores, colorSecundario);
            height: 4px;
        }
    }
}






