header{
    .titulo{
        background-image: map-get($colores, colorGradientClaroAOscuro);
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }

    nav{
        background-image: map-get($colores, colorGradientOscuroAClaro);

        a{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.1rem ;
        }
    }
}